{% extends "base.twig" %}

{% block head %}
<style>
.base-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
}
.base-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.base-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
</style>
{% endblock %}

{% block content %}
    <div class="base-form">
        <div id="alert-error" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
            <strong>Ошибка.</strong> <br><span id="error-message"></span>
        </div>
        <form action="{{ routes['doAuth']}}" id="sign-in" method="post">
            <h2 class="text-center">Авторизация</h2>
            {{ registerUrl }}
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Имя (username)" required="required">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Пароль" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </div>    
        </form>
        <p class="text-center"><a href="{{ routes['registerPage']}}">Создать новый аккаунт</a></p>
    </div>

    <script>
    $("#sign-in").on("submit", function(e) {

        e.preventDefault();

        $('#alert-error').hide()
        $('#error-message').empty()

        let data = {}
        data.username = $('[name=username]').val()
        data.password = $('[name=password]').val()
        data.grant_type = "password"
        data.scope = "basic"
        data.client_id = "slimtestapp"
        data.client_secret = "client_secret"

        $.ajax({
            url: '{{ routes['doAuth']}}',
            type: 'POST',
            dataType : "json",
            data: data,
            traditional: true
        }).done(function(data) {
            
            if (data.access_token) {
                setCookie('access_token', data.access_token, data.expires_in);
                setCookie('refresh_token', data.refresh_token, data.expires_in);
            }

            /* $.ajax({
                url: '{{ routes['profilePage']}}',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer '+data.access_token
                },
            }).done(function(data) {
                console.log(data)
            }).fail(function(data) {
               console.log(data)
            }); */

        }).fail(function(data) {
            $('#alert-error').show()
            $('#error-message').empty()
            if (data.responseJSON && data.responseJSON.message) {
                $('#error-message').append(data.responseJSON.message)
            } else {
                $('#error-message').append('Произошла непредвиденная ошибка. Пожалуйста попробуйте позже.')
            }
        });
    });

    function setCookie(name,value,sec) {
        var expires = "";
        if (sec) {
            var date = new Date();
            date.setTime(date.getTime() + (sec*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {   
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    </script>
{% endblock %}
