{% extends "base.twig" %}

{% block head %}
<style>
.base-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
}
.base-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.base-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
</style>
{% endblock %}

{% block content %}

    <div id="alert-info" class="alert alert-info" role="alert" style="display:none">
        <b>Регистрация прошла успешно!</b>
        <br>Можете <a href="{{ routes['loginPage']}}">войти</a>.
    </div>
    <div class="base-form">
        <div id="main-block">
            <div id="alert-error" class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none">
                <strong>Ошибка.</strong> Проверьте правильность заполнения полей.
            </div>
            <form action="{{ routes['doSignUp']}}" method="post" id="sign-up">
                <h2 class="text-center">Регистрация</h2><br> 
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Имя (username)">
                    <small id="name-help" class="text-danger">
                    </small>      
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Пароль" required="required">
                    <small id="password-help" class="text-danger">
                    </small>  
                </div>
                <div class="form-group">
                    <input type="password" name="confirm_password" class="form-control" placeholder="Повторите пароль" required="required">
                    <small id="confirm_password-help" class="text-danger">
                    </small>  
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
                </div>    
            </form>
            <p class="text-center">Уже есть аккаунт? <a href="{{ routes['loginPage']}}">Войти</a></p>
        </div>
    </div>

    <script>
    $("#sign-up").on("submit", function(e) {

        e.preventDefault();

        $('#alert-error').hide()
        $('input').removeClass('is-invalid')
        $('div.form-group small').empty()

        var data = $(this).serialize();

        $.ajax({
            url: '{{ routes['doSignUp']}}',
            type: 'POST',
            dataType : "json",
            data: data,
        }).done(function(data) {
            
            if (data.status && data.data.user_id) {
                $('#alert-error').hide()
                $('#main-block').hide()
                $('#alert-info').show()

                setTimeout(function(){
                    window.location.replace("{{ routes['loginPage']}}");
                }, 1500);
            } else {
                $('#alert-error').show()
            }

        }).fail(function(data) {

            $('#alert-error').show()

            response = data.responseJSON
            if (response.code == 422 && response.errors) {
                jQuery.each(response.errors, function(index, item) {
                    $('[name='+index+']').addClass('is-invalid')
                    jQuery.each(item, function(key, error) {
                        $('#'+index+'-help').append(error + '<br>')
                    });
                });
            }
        });
    });
    </script>
{% endblock %}
